.footer {
  background-color: white;
  color: black;
  padding: 2rem 1rem;
  padding-left: 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-logo {
  flex: 2;
  text-align: left;
  padding-right: 2rem;
}

.footer-logo-text {
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.5rem;
  padding-right: 3rem;
}

.footer-right{
    flex: 3;
    display: flex;
    justify-self: flex-start;
    gap: 2rem;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.footer-social-media h4{
    color: #bbb;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: #333;
}

.social-box {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.social-box i {
  font-size: 1.25rem;
  color: #007bff;
  margin-right: 0.5rem;
}

.social-box p {
  margin: 0;
  font-size: 1rem;
  color: #007bff;
}

.social-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-discover{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-links h4 {
  color: #bbb;
  margin-bottom: 1rem;
}

.footer-discover h4{
  color: #bbb;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-discover ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li a {
  color: #1d202b;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-discover ul li a {
  color: #1d202b;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #007bff;
}

.footer-discover ul li a:hover {
  color: #007bff;
}

.footer-bottom {
  text-align: center;
  color: #bbb;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.footer-middle-1{
  display:block;
  display: flex;
  justify-content: space-between;
}

.footer-middle-2{
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 1.5rem;
  }

  .footer-social-media {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .footer-links {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .footer-discover {
    margin-bottom: 1.5rem;
    text-align: left;
  }


  .footer-middle-1{
    display: none;
  }

  .footer-middle-2{
    display: block;
    flex-direction: column;
  }

}
