.hero-section{
    position: relative;
    margin-top: 0;
    overflow: visible;
    transition: margin-top 0.3s ease;
    z-index: 1;
}


.hero-search {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 70%;
  box-sizing: border-box;
  margin-bottom: -50px;
}

.prop-owner{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 4%;
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #4a4a4a;
  padding: 8px 16px;
  border-radius: 14px;
  transition: background-color 0.3s;
  width: max-content;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  color: #ffffff;
  font-size: 12px;
}

.prop-owner .icon{
  display: flex;
  align-items: center;
}

.prop-owner .text{
  margin-left: 8px;
}

.arrow-button{
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  transition: color 0.3s ease;
  color: #ffffff;
}

.arrow-button:hover .arrow-icon {
  color: #1a1a1a;
}

.svg-container-1{
  display: block;
}

.svg-container-2{
  display: none;
}

@media (max-width:768px){
  .svg-container-1{
    display: none;
  }
  
  .prop-owner{
    margin-top: 10%;
  }

  .svg-container-2{
    display: block;
  }
}