.otp-input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.otp-input {
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  margin: 0 8px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  font-weight: bold;
}

.otp-input:focus {
  border-color: #4E40EB;
}

.change-phone {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.change-phone:hover {
  text-decoration: none;
}

.clickable-text {
  text-decoration: underline;
  cursor: pointer;
}

.clickable-text:hover {
  text-decoration: none;
  opacity: 0.8;
}