.search-bar-class{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.search-bar-container {
  background-color: #4a4a4a;
  color: #ffffff;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: visible;
  width: 100%;
}

.search-bar-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 12px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.search-bar-dropdown{
  display: none;
}

.location-dropdown {
  display: block;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 14px;
  color: #495057;
  margin-right: 8px;
  width: 150px;
  box-sizing: border-box;
}

.search-input-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 8px;
  outline: none;
  box-sizing: border-box;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #1a1a1a;
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 40%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.text1{
  display: block;
}

.text2{
  display: none;
}


@media (max-width: 768px) {

  .search-bar-class{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .text1{
    display: none;
  }

  .text2{
    display: block;
  }

  .search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .search-bar-header {
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .location-dropdown{
    display: none;
  }

  .search-bar-dropdown{
    display: block;
    padding: 8px;
    border: 1px solid #4a4a4a;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    background-color: #4a4a4a;
    margin-right: 8px;
    width: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar-header span:first-child{
    order: -1;
    margin-bottom: 10px;
  }

  .search-bar-header span:first-child{
    order: 1;
    margin-top: 10px;
  }

  .search-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: auto;
  }

}